**/node_modules

**/dist
**/build
**/lib/

**/.DS_Store
**/.idea
**/.npmrc

**/.cache
**/*.code-workspace
**/*.log
**/package.json.lerna_backup

**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/.vscode

ops/3style-docs/catalog
ops/3style-docs/storybook

.size-snapshot.json
